* {
  padding: 0;
  margin: 0;
}
.form-compose-input {
  width: 100%;
  padding: 0.8rem;
  margin: 0 1rem 1rem 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: rgb(69, 77, 233);
  padding: 1rem;
  margin-bottom: 1rem;
}
.header button {
  color: white;
  background-color: blue;
  border: 1px solid snow;
  padding: 0.7rem;
  cursor: pointer;
  width: 5rem;
  border-radius: 6px;
}
.header button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
.must{
    font-size: 12px;
    color: red;
    margin-bottom: 4px;
}